# [Database Connection]
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/vitalis"

# [JWT Configuration]
JWT_SECRET="super-weak-secret"
JWT_EXPIRES_IN="1d"

# [Server Configuration]
PORT=3000
